/* @import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap'; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}

html {
    font-size: 10px;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-size: 14px;
    
}
#header{
    z-index: 1;
    height: 45px;
    width: 100vw;
overflow: hidden;
    background-color: rgb(37, 61, 216);
    opacity: 1.7;
    position: fixed;
    text-align: center;
}
.logo {
    height: 45px;
    position: fixed;
    z-index: 1;
    left: 23px;
    border-radius: 10%;
}
@media only screen and (max-width: 405px) {
    .logo{
        display: none;
    }
}



.nav-list{
display: flex;
justify-content:flex-end;
align-items: center;
}
#header .nav-list  ul{
display: flex;
justify-content: center;
list-style-type: none;
align-items: center;

}
.nav-list ul li{}
    

.nav-list ul li a{
   position: relative;
   top:9px;
        margin-right: 19px;
        
        font-weight: 700;
    
    color: rgb(255, 255, 255);
}
.nav-list ul li:hover a{
    color: red;
}
#hero {
 
  /* opacity: 0.6; */
  height: 100vh;
}

#hero .container{
    background-image: url(./img/ba.webp);
    height: 100vh;
    width: 100vw;
}
#hero .container div{
    display: flex;
    justify-content: center;
    /* align-content: center; */
}
#hero .container img{
    opacity: 1.5;
    position: relative;
    top: 40vh;
   height: 230px;
}

/* .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
@media only screen and (min-width: 479px){
h1{
    color: black;
    font-size: 45px;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    top: -35px;
    text-decoration:underline;
    /* animation: ; */
}
}
@media only screen and (max-width: 479px) {
    h1{
    position: relative;
    bottom: 70px;
    color: black;
        font-size: 45px;
        
        text-transform: capitalize;
        text-align: center;
        text-decoration: underline;
    }
}

.each-item-wrapper {
    display: grid;
    background-image:url(./img/ba.webp);
    overflow: hidden;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.each-item {
    border: black 1px solid;
    cursor: pointer;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.each-item .img-wrapper img {
    width: 100%;
    background: rgb(6, 1, 1) none;
    border: black;

}

.each-item .img-wrapper {
    height: auto;
    overflow: hidden;
    position: relative;
}


.each-item .img-wrapper img {
    transition: transform 1s ease;
    z-index: -1;
}

.each-item .img-wrapper:hover img {
    transform: scale(1.3)
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: black;
}

.content-wrapper .brand-name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
}

.content-wrapper .brand-desc {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}

.content-wrapper .b-price {
    font-size: 12px;
    opacity: 0.5;
    margin-left: 5px;
    font-weight: 400;
    text-decoration: line-through;
}

.content-wrapper .b-discount {
    color: red;
    opacity: 0.9;
    font-size: 12px;
    margin-left: 5px;
    font-weight: 400;
}

.content-wrapper .add-to-cart-btn {
    border-radius: 0;
    padding: 12px 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(0, 251, 255);
    border: 1px solid rgb(17, 0, 255);
    color:black;
    width: 90%;
    margin-bottom: 15px;
    border-radius:5% ;
}
.content-wrapper .add-to-cart-btn:hover{
    background-color: red;
    color: wheat;
}
h2{
    color: black;
    font-size: 45px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
    /* margin-top: 29px; */
    position: relative;
    top: 29px;
    text-shadow: gray;
    margin-bottom: 29px;
    
}
.border{
    border:darkblue 3px solid;
}
#Kids,#Women,#Men,#contact{ 
    background-image: url(./img/ba.webp);
}
#contact .contact-item img{
    height: 35px;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
    border: black 2px solid;
    border-radius: 10%;
}
#contact .contact-item{
    text-align: center;
}
#contact .contact-info{
    font-size: 23px;
    text-align: center;
}
plain{
    text-decoration: underline;
    font-weight: 800;
}
h6{
    text-align: center;
    font-size: 23px;
    text-decoration: underline;

}
